
@font-face
    font-family: 'WebHostingHub'
    src: url( fonts/webhostinghub-glyphs-webfont.eot )
    src: url( fonts/webhostinghub-glyphs-webfont.eot?#iefix ) format('embedded-opentype'), url( fonts/webhostinghub-glyphs-webfont.woff ) format('woff'), url( fonts/webhostinghub-glyphs-webfont.ttf ) format('truetype'), url( fonts/webhostinghub-glyphs-webfont.svg#WebHostingHubGlyphsRegular ) format('svg')
    font-weight: normal
    font-style: normal
